body {
	font-size: 14px;
}

/* fix jQuery UI autocomplete search bar font */
.ui-widget input, .ui-widget li {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* limit height of autocomplete list and make it scrollable so it doesn't look like total garbage */
ul.ui-autocomplete {
    max-height: 260px; /* 10*26px */
    overflow: scroll;
}

ul.ui-autocomplete {
    border-radius: 4px;
}

/* change ugly greyish background for selected list items */
.ui-state-focus {
    background: none !important;
    background-color: #337ab7 !important;
    color: white !important;
}

hr {
	margin: 10px 0 10px 0;
}

h1 {
	margin: 5px 0 10px 0;
	font-size: 24px;
}

h2 {
	margin: 5px 0 10px 0;
	font-size: 20px;
}

h3 {
	margin: 5px 0 10px 0;
	font-size: 16px;
}

/* X% margin left and right for the content of the header */
nav.navbar > .container-fluid {
  margin: 0 1% 0 1%;
}

/* X% margin left and right for #content */
div#content {
  margin: 0 0 40px 0;
}

/* X% margin left and right for #news */
div#news {
	padding: 0;
	margin-top: -20px;
}

/* centers the icon in the header and makes it look not shit */
div.navbar-header > a.navbar-brand {
  padding: 0px;
  margin-right: 15px;
}

#footer {
  background-color: #f8f8f8;
  border: 1px solid #e7e7e7;
  color: #888888;
  font-size: 12px;
  vertical-align: middle;
  padding: 15px 0 15px 0;
}

/* faq on /about */
.faq-group {
  margin-top: 20px;
}

.faq-group p {
  margin: 0;
}

.faq-question {
  font-weight: bold;
}

.faq-answer {
}

/* chart specific css */
.chart {
  min-height: 500px;
}

/* remove border radius from news div and navbar */
.navbar {
	border-radius: 0px;
}

.alert {
	border-radius: 0px;
}

/* classes for currency colors */
.platinum {
  color: rgb(122, 122, 122);
}

.gold {
  color: #efad00;
}

/* fixes search button height in search bar */
#search-bar-button {
    height: 34px;
}

/* favorite button classes */
.favorite-button {}

.favorite-button > span {
    color: rgb(200, 200, 200); /* default heart color */
}

.favorite-button-favorited > span {
    color: rgb(220, 20, 20);
}
